@page
@model HotelBookingApp.Pages.RegisterModel
@{
}

<form method="post">
    <h3 class="display-5 text-center mb-5">Registration Page</h3>
    <div class="form-group mb-3">
        <label for="Email">Email address</label>
        <input type="email" class="form-control" name="Email" id="Email1" aria-describedby="emailHelp" placeholder="Enter email" required>
        
    </div>
    <div class="form-group mb-3">
        <label for="exampleInputUserName">UserName</label>
        <input type="text" class="form-control" name="UserName" id="UserName" aria-describedby="emailHelp" placeholder="Enter UserName" required>
    </div>
    <div class="form-group mb-3">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name="Password" id="Password" placeholder="Password" required>
    </div>
    <div>
        <input type="submit" value="Register" class="btn btn-primary" />
        <a href="/" class="btn btn-secondary">Login</a>
    </div>
</form>